.mediafacet-audio {
  float: right;
}

.mejs-container {
    position: relative;
    background: none;
}

.mediafacet-audio .mejs-inner .mejs-controls {
    width: 22px;
    height: 22px;
    background: none;
}

.mejs-inner .mejs-play button {
    width: 22px;
    height: 22px;
    margin: 0;
    background: transparent url(play.png) no-repeat;
    background-size: 22px 22px;
}

.mejs-inner .mejs-pause button  {
    width: 22px;
    height: 22px;
    margin: 0;
    background: transparent url(pause.png) no-repeat;
    background-size: 22px 22px;
}